<div class="post-feed">
    <div *ngFor="let post of posts" class="post">
      <div class="post-image">
       <!-- <img [src]="post.imagePath" alt="Post Image" /> -->
      </div>
      
      <div class="post-description">
        <h3>{{ post.description }}</h3>
      </div>
      
      <div class="post-likes">
        <span>{{ post.likes }} Likes</span>
      </div>
  
      <!-- Prikaz komentara -->
      <div class="post-comments">
        <h4>Comments</h4>
        <ul>
          <li *ngFor="let comment of post.coments">
            <strong>{{ comment.userId }}:</strong> {{ comment.text }}
          </li>
        </ul>
      </div>
    </div>
  </div>
  