<div class="post-container" *ngFor="let post of posts; let isLast = last">
  <!-- Header Section -->
  <div class="post-header">
    <img
      [src]="post.user.profileImagePath || '/assets/images/default.jpg'"
      alt="Profile Image"
      class="profile-image"
    />
    <span class="username">{{ post.user.username }}</span>
  </div>

  <!-- Image Section -->
  <div class="post-image">
    <img [src]="post.imagePath" alt="Post Image" />
  </div>

  <!-- Content Section -->
  <div class="post-content">
    <div class="post-likes">
      <span>{{ post.likes }} likes</span>
    </div>
    <p class="post-description">{{ post.description }}</p>
    <a href="#" class="view-comments">View all comments</a>
  </div>

  <!-- Horizontal Line -->
  <hr *ngIf="!isLast" class="post-divider" />
</div>




<!-- <div class="post-feed">
  <div *ngFor="let post of posts" class="post">
    <div class="post-image">
     <img [src]="post.imagePath" alt="Post Image" />
    </div>
    
    <div class="post-description">
      <h3>{{ post.description }}</h3>
    </div>
    
    <div class="post-likes">
      <span>{{ post.likes }} Likes</span>
    </div>

    <button class="comment-button" (click)="loadComments(post.id)">
      <i class="fa fa-comment" aria-hidden="true"></i> comments
    </button>
    <br>
    <div class="post-actions">
      <button *ngIf="userId === post.user_id" class="edit-button">
        <i class="fa fa-edit" aria-hidden="true"></i> edit
      </button>
      <button *ngIf="userId === post.user_id" class="delete-button" (click)="deletePost(post.id)">
        <i class="fa fa-window-close" aria-hidden="true"></i> delete
      </button>
      <button *ngIf="userId != null" class="like-button" (click)="toggleLike(post.id)">
        <i class="fa fa-thumbs-up" aria-hidden="true"></i> like
      </button>
    </div>

    <div class="post-comments" *ngIf="showComments[post.id] && post.comments">
      <h4>Comments</h4>
      <div *ngFor="let comment of post.comments" class="comment-card">
        <div class="comment-header">
          <strong>{{ comment.userName }}</strong>
          <span class="comment-time">{{ comment.createdTime | date:'short' }}</span>
        </div>
        <p class="comment-text">{{ comment.text }}</p>
      </div>
      <div *ngIf="userId != null">
        <input type="text" #commentInput placeholder="Unesi komentar" class="comment-input"/>
        <button (click)="submitComment(post.id, commentInput)" class="submit-comment-button">Post</button>
      </div>
    </div>
  </div>
</div> -->
