.post-container {
  max-width: 600px;
  margin: 20px auto;
  overflow: hidden;
}

.post-header {
  display: flex;
  align-items: center;
  padding: 15px;
}

.profile-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.username {
  font-weight: bold;
  color: #333;
}

.post-image img {
  width: 100%;
  height: auto;
}

.post-content {
  padding-top: 15px;
  padding-bottom: 15px;
}

.post-likes {
  font-size: 0.9em;
  color: #777;
  margin-bottom: 10px;
}

.post-description {
  font-size: 1em;
  color: #555;
  margin-bottom: 10px;
}

.view-comments {
  font-size: 0.9em;
  color: var(--primary-color);
  text-decoration: none;
}

.view-comments:hover {
  text-decoration: underline;
}

.post-divider {
  border: none;
  height: 1px;
  background-color: #ddd;
  margin: 20px 0;
}

.kebab-menu {
  margin-left: auto;
  font-size: 1.2em;
  color: #777;
  cursor: pointer;
}

.kebab-menu:hover {
  color: #333;
}

.post-actopms{
  margin-bottom: 30px;
}

.red {
  padding-right: 10px;
  padding-bottom: 10px;
  color: var(--error-color);
}

.regular {
  padding-right: 10px;
  padding-bottom: 10px;
  color: #333;
}

.interaction-button{
  background-color: transparent;
  border: 0px;
  padding: 0;
}

i {
  font-size: 1.5em;
}

