<div class="post-container" *ngFor="let post of posts; let isLast = last">
  <!-- Header -->
  <div class="post-header">
    <div class="username-and-picture" [routerLink]="['/profile', post.userId]">
      <img [src]="post.imagePath" alt="Profile Image" class="profile-image" />
      <p class="username">{{ post.username }} </p> 
      <p> • </p>
      <p class="post-created"> {{ post.createdDate | date: 'short'}} </p>
    </div>
    <div class="dropdown-container" style="position: relative;">
      <i class="fa fa-ellipsis-h kebab-menu" (click)="toggleDropdown(post.id)" aria-hidden="true"></i>
  
      <!-- Dropdown Menu -->
      <div class="dropdown-menu" *ngIf="showDropdown[post.id]">
        <button class="dropdown-item" (click)="toggleFollowUser(post.userId)">
          {{ post.isFollowedByCurrentUser ? 'Unfollow' : 'Follow' }}
        </button>        
        <button *ngIf="userId === post.userId" class="dropdown-item" (click)="editPost(post.id)">Edit</button>
        <button *ngIf="userId === post.userId" class="dropdown-item" (click)="deletePost(post.id)">Delete</button>
        <button class="dropdown-item" (click)="closeDropdown(post.id)">Cancel</button>
      </div>
    </div>
  </div>
  
  <!-- Image -->
  <div class="post-image">
    <img [src]="post.imagePath" alt="Post Image" (click)="openModal(post)"/>
  </div>

  <!-- Content (actions, caption, like count etc) -->
  <div class="post-content">
    <div class="post-actions">
      <button class="interaction-button" (click)="toggleLike(post.id)">
        <i class="fa fa-heart" [ngClass]="{'red': isPostLiked(post.id), 'regular': !isPostLiked(post.id)}" aria-hidden="true"></i>
      </button>
      <button class="interaction-button" (click)="openModal(post)">
        <i class="fa fa-comment regular" aria-hidden="true"></i>
      </button>
    </div>
    <span class="likes-count">{{ post.likes }} likes</span>
    <p class="post-description"><b> {{post.username}} </b> {{ post.description }}</p>
    <a (click)="openModal(post)" class="view-comments">
      View all comments <!--  View all {{ commentCount(post.comments) }} comments - može da piše, ali će biti 0 sve dok ne kliknemo jednom. To je zato što nemam posebnu backend metodu koja učitava broj komentara samo. Ne želim da učitavam komentare sve samo da bih ih izbrojao. Tako da neka ne bude broj komentara -->
    </a>
  </div>
  
  <hr *ngIf="!isLast" class="post-divider" />
</div>

<app-post-modal
  *ngIf="selectedPost"
  [post]="selectedPost"
  (close)="closeModal()"
></app-post-modal>