/* Modal Overlay */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 999;
  }
  
  /* Modal Content */
  .modal-content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    width: 80%;
    max-height: 90%;
    height: 80%;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    z-index: 1000;
  }
  
  /* Image Section */
  .modal-image {
    flex: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black; /* Optional, for styling */
    height: auto; 
    max-height: 100%; 
  }
  
  .modal-image img {
    max-width: 100%;
    height: auto; 
    object-fit: contain; 
  }
  
  /* Details Section */
  .modal-details {
    flex: none;
    width: 400px;
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
  
  .modal-header {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  .user-profile {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .username {
    font-weight: bold;
    font-size: 16px;
  }

  .post-created{
    font-size: 14px;
    font-weight: lighter;
    margin: 0;
  }

  .dot{
    padding: 5px
  }
  
  .post-description {
    margin: 20px 0;
    font-size: 14px;
  }
  
  .modal-comments {
    flex: 1;
    overflow-y: auto;
    max-height: 70%;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
  }
  
  .comment {
    display: flex;
    align-items: flex-start;
    margin-bottom: 15px;
  }
  
  .comment-profile {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
  }
  
  .comment-details {
    display: flex;
    flex-direction: column;
  }
  
  .comment-username {
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 5px;
    cursor: pointer;
  }
  
  .comment-text {
    font-size: 14px;
    word-wrap: break-word;
  }

  .comment-time {
    font-size: 12px;
    color: #888; 
    margin-top: 5px;
  }
  
  .modal-actions {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 20px;
  }

  .post-actions {
    display: flex;
  }
  
  .interaction-button {
    background: none;
    border: none;
    cursor: pointer;
    padding-left: 0;
  }
  
  .interaction-button .fa {
    font-size: 1.5rem;
    padding-bottom: 10px;
  }

  .red {
    color: var(--error-color); 
    padding-right: 10px;
    padding-bottom: 10px;
  }

  .regular {
    padding-right: 10px;
    padding-bottom: 10px;
    color: #333; 
  }
  
  
  .modal-add-comment {
    display: flex;
    gap: 10px;
    width: 100%;
    margin-top: 20px;
  }
  
  .comment-input {
    flex: 1;
    padding: 8px;
    background-color: #efefef;
    color: #333;
    border: transparent;
    border-radius: 5px;
    height: 100%;
    line-height: 1.5;
  }
  

  /* ERROR POPUP */
  .error-popup {
    background-color: #ffcccc;
    color: #cc0000;
    padding: 15px;
    border-radius: 5px;
    width: 90%;
    max-width: 400px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 20px auto; 
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    text-align: left; 
    position: relative;
  }
  
  
  
  .close-button {
    background: none;
    border: none;
    font-size: 1em;
    font-weight: bold;
    color: #cc0000;
    cursor: pointer;
    position: absolute; 
    top: 50%; 
    right: 15px;
    transform: translateY(-50%); 
  }
  
  .close-button:hover {
    color: #a00000;
  }

  .likes-count {
    font-size: 0.9em;
    color: #777;
    margin-bottom: 10px;
    text-align: left;
  }