<div class="users-container">
    <div *ngFor="let user of users" class="user-card">
      <div class="profile-info">
        <!-- Placeholder for profile picture -->
        <div class="profile-pic"></div>
        <div class="text-info">
          <p class="username">{{ user.username }}</p>
          <p class="fullname">{{ user.fullName }}</p>
        </div>
      </div>
      <div class="stats">
        <span><b>{{ user.postNumber }}</b> posts</span>
        <span><b>{{ user.numberOfFollowers }}</b> followers</span>
        <span><b>{{ user.followsPeople}}</b> following</span>
      </div>
      <button class="follow-btn"
        [ngClass]="{ following: user.followerIds.includes(userId!) }"
        (click)="followUser(user)"
      >
        {{ user.followerIds.includes(userId!) ? 'Unfollow' : 'Follow' }}
      </button>
    </div>
  </div>
  