* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  nav {
    background-color: #ffffff;
    border-bottom: 1px solid #e9e9e9;
    padding: 0.5rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Arial, sans-serif;
  }
  
  .center-nav-icons {
    display: flex;
    justify-content: center;
    flex-grow: 1;
  }

  .logo {
    position: absolute;
    left: 2rem;
  }
  
  .nav-icons {
    display: flex;
    list-style-type: none;
    gap: 2rem;
  }
  
  .nav-icons li a {
    color: #262626;
    font-size: 1.2rem;
    transition: color 0.3s ease;
  }
  
  .nav-icons li a:hover {
    color: #26ace3;
  }

  .nav-image{
    height: 40px;
  }
  
  .user-menu {
    position: absolute;
    right: 2rem;
    cursor: pointer;
  }
  
  .user-menu i {
    font-size: 1.5rem;
    color: #262626;
    transition: color 0.3s ease;
  }
  
  .user-menu i:hover {
    color: #26ace3;
  }
  
  .dropdown {
    position: absolute;
    right: 0;
    top: 2rem;
    background-color: #ffffff;
    border: 1px solid #e9e9e9;
    border-radius: 0.3rem;
    padding: 0.5rem 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    width: 200px;
  }
  
  .dropdown a {
    color: #262626;
    font-size: 0.9rem;
    padding: 0.5rem 0;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  
  .dropdown a:hover {
    background-color: #f2f2f2;
  }

  .dropdown i{
    font-size: 15px;
  }

  .dropdown i:hover {
    color: #26ace3;
  }
  
  @media (max-width: 768px) {
    nav {
      padding: 1rem;
    }
    
    .nav-icons {
      gap: 1rem;
    }
  
    .dropdown {
      right: 10%;
      width: 100px;
    }
  }
  